body {
    margin: 0;
    padding: 0;
}

.main_container {
    width: auto;
    height: 600px;
    margin: auto;
    padding: 50px;
    background-color: darkcyan;
}

nav {
    position: sticky;
    top: 0px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(20, 14, 14, 0.51);
    background-color: white;
    height: 60px;
    z-index: 10;
}

ul {
    margin-top: 0px;
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;
}
.logo {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    color: darkslategray;
    margin-left: 20px;

}

article{
    padding: 50px 30px;
    display: flex;
    gap: 110px;
    height: 100%;
}

.sec1_container {
    width: 45%;
    padding: 20px;
}
.sec1_container h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 60px;
}
.sec1_container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 20px;
}
.sec2_container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px black;
    width: 40%;
    margin-top: 40px;
    padding: 50px;
    height: 500px;
}

.input_container label {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    color: darkslategray;
}
.input_container input{
    width: 100%;
    height: 45px;
    font-size: 25px;
    border-radius: 10px;
    border-width: 2px;
    margin-top: -25px;
    margin-bottom: 20px;
    color: darkslategray;
}
.length_container {
    border-top: 2px solid rgba(165, 163, 163, 0.479);
    margin-bottom: 20px;
}
.length_container h1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    color: darkslategray;
}
#range_num {
    color: darkslategray;
    width: 60px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}
#range {
    width: 80%;
}
.checkbox_container{
    border-top: 2px solid rgba(165, 163, 163, 0.479);
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.checkbox_container div{
    color: darkslategray;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.checkbox_container div input{
    width: 25px;
    height: 25px;
    
    /* background-color: aqua;
    color: aqua;
    border-radius: 50px; */
}
.copy_btn_container{
    border-top: 2px solid rgba(165, 163, 163, 0.479);

}
#copy_btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
}
.generate_btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
}
footer{
    background-color: darkcyan;
    width: 100%;
    height: 50px;
    margin-top: 200px;
    margin-bottom: 0;

}
.footer_container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.footer_container h1 {
    font-size: 20px;
    margin: 0 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}